{# empty Twig template #}
{%extends "IAIbrahimAbdelkaderBundle::IALayout.html.twig" %}

{%block contenu %}<center><h1 ><font color="red">Page dédiée pour la recherche</font></h1></center> {%endblock%}

{%block contenuCC %}<center><h1 ><font color="red"></font></h1></center> 
    <form method="POST">champ recherche : <input type="text" name="chrecherche" id="chrecherche"/></br> <input type="submit" value="rechercher"/></form>
{%endblock%}
{%block contenuCC2 %}
{% for i in ibrahim %}
            </br></br>
            <li><b><font color="green" size="3">Id du client :</font></b>
                
                      {{ i.IdClient }}   <a href="{{ path ("IA_suppressionClient",{"IdClient": i.IdClient}) }}" >Supprimer Client</a>
                      <a href="{{ path ("IA_modficationClient",{"IdClient": i.IdClient}) }}" >modifier Client</a>
            </li>
            <li><font color="green" size="3">Nom du client :</font>
                
                      {{ i.nom }}
                
            </li>
            <li><font color="green" size="3">Prenom du client :</font>
                
                      {{ i.prenom }}
               
            </li>
            <li><font color="green" size="3">Cin du client :</font>
                
                       {{ i.cin }}
                
            </li>
            <li><font color="green" size="3">Adrese du client :</font>
                
                       {{ i.adresse }} 
                
            </li>
            <li>-----------------------------------------------------</li>
    
    {% endfor %}
     </ul>
{%endblock%}

{%block navigation %}
    <li ><a href="{{path ("IA_ajout")}}">ajout</a></li>
    <li class="selected"><a href="{{path ("IA_suppression")}}">suppression</a></li>
    <li><a href="{{path ("IA_ajout")}}">modification</a></li>
    <li><a href="{{path ("IA_affichage")}}">affichage</a></li>{%endblock%}